@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Source+Code+Pro&display=swap');

html {
    scrollbar-width: none;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

span {
    color: #9c27b0 !important;
}

::-webkit-scrollbar {
    display: none;
    overflow: -moz-scrollbars-none;
}